/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.navbar-inverse {
    background-color: #127a7b;
    border-color: #ffffff;
    color: white;
}
.dropdown-menu > li > a{
    color:white;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #127a7b;
}
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        color: #127a7b;
        text-decoration: none;
        background-color: white;
    }
    .navbar-inverse .navbar-brand {
        color: white;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }
        .navbar-inverse .navbar-nav > li > a:hover {
            border: none;
            text-decoration: none !important;
            font-weight:bold;
            margin-top: 0px;
        }
.navbar-nav > li > .dropdown-menu {
    background-color: #127a7b;
    color:white;
}
#LoggedInUserLbl:hover {
    border-bottom: 0px solid white;
    margin-top: 0px;
}
.navbar-nav > li :hover {
    
}

.navbar-nav > li :active {
    
}

.hcloudBtn {
    width: auto;
    background-color: #127a7b;
    color: white;
}

    .hcloudBtn:hover {
        border: 1px solid #127a7b;
    }

.hcloudAlertPanel {
    color: #127a7b;
    background-color: white;
    border-color: #127a7b
}

.SideNavH a {
    text-decoration: none;
    color: #137a79;
}

    .SideNavH a :hover {
        text-decoration: none;
        font: bold;
    }

    .SideNavH a :active {
        text-decoration: none;
        font: bold;
    }

    .SideNavH a :visited {
        text-decoration: none;
    }

.SideNavBtn {
    float: right;
    font-size: 20px;
    height: 50px;
    text-align: left;
    padding-right: 5px;
    width: 100%;
    border-radius: unset;
    margin: unset;
    display: block;
    text-decoration: none;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.SideNavBtnBack :hover {
    background-color: #c7e9e9;
    font: bold;
}

.SideNavBtnBack img {
    height: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    float: left;
}

.SideNavBtnBack span {
    display: inline-block;
    vertical-align: middle;
}

input, select, textarea {
    max-width: unset;
}

@media screen and (max-width: 1350px) {
    .SideNavBtnBack span {
        display: none;
    }

    .SideNavBtnBack img {
        border: none;
        margin-left: 25%;
    }
}

@media screen and (max-width: 768px) {
    .SideNavBtnBack span {
        display: inline-block;
    }

    .SideNavBtnBack {
        padding-left: 10px;
    }

        .SideNavBtnBack img {
            border: none;
            margin-left: unset;
        }

    .HCollums {
        height: auto !important;
        display: contents;
        margin: unset;
    }

    .card {
        width: 100%;
    }

    .LoginText {
        padding-left: 10px !important;
    }
}

.card {
    overflow-wrap: break-word;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
    margin: 10px;
    padding: 10px;
    bottom: 0px;
    height: 87.2vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

    .card h1 {
        margin-top: 3px !important;
    }

.card-small {
    overflow-wrap: break-word;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
    margin: 5px;
    padding: 5px;
    bottom: 0px;
    height: auto;
    width: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    vertical-align: top;
}

.card-small-title {
    color: #127a7b;
    font-size: 18px;
    font-weight: 700;
}

.GridViewHeader {
    background-color: #127a7b !important;
    color: white !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0e0e0;
    border-radius: 5px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #98c5c5;
    }

.BreadCrumbUL {
    list-style-type: none;
}

.cont_breadcrumbs {
    width: 350px;
    list-style-type: none;
}

.cont_breadcrumbs_1 {
    position: relative;
    width: 100%;
    float: left;
    margin: 20px;
    margin-left: -30px;
    margin-bottom: 2.5px;
}

    .cont_breadcrumbs_1 > ul > li {
        position: relative;
        float: left;
        transform: skewX(-15deg);
        background-color: #fff;
        box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
        z-index: 1;
        width: auto;
        margin-left: 5px !important;
        transition: all 0.5s;
    }

        .cont_breadcrumbs_1 > ul > li > a {
            display: block;
            padding: 10px;
            font-size: 13px;
            transform: skewX(15deg);
            text-decoration: none;
            color: #444;
            font-weight: 300;
        }

        .cont_breadcrumbs_1 > ul > li:first-child {
            margin-left: 0px;
        }

        .cont_breadcrumbs_1 > ul > li:hover {
            background-color: #CFD8DC;
        }

        .cont_breadcrumbs_1 > ul > li:last-child {
        }

            .cont_breadcrumbs_1 > ul > li:last-child > a {
                color: #127a7b;
            }


    .cont_breadcrumbs_1 > ul:hover > li {
        margin-left: 0px;
    }

.CollapseButton {
    color: #127a7b;
}

    .CollapseButton a, .CollapseButton a span {
        color: #127a7b;
    }

    .CollapseButton:link {
        color: #127a7b;
        background-color: transparent;
        text-decoration: none;
    }

    .CollapseButton:visited {
        color: #127a7b;
        background-color: transparent;
        text-decoration: none;
    }

    .CollapseButton:hover {
        color: #127a7b;
        background-color: transparent;
        text-decoration: none;
    }

    .CollapseButton:active {
        color: #127a7b;
        background-color: transparent;
        text-decoration: none;
    }

.CollapseBTNdiv {
    width: 50px;
    position: absolute;
    z-index: 10000000000000;
}

.GridviewToolbar {
    width: 100%;
    border: 1px solid #127a7b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #e2f2f2;
    padding-bottom: 3px;
}

.FilterGrid {
    position: relative;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
    border: 1px solid #127a7b;
    height: 250px !important;
    width: 50%;
    border-radius: 3px;
    z-index: 1000000000000000000;
}

.HCicon:hover {
    color: #127a7b;
    cursor: pointer;
}

.TherapiesGridHeader {
    background-color: #e2f2f2;
    border: 1px solid #127a7b;
}

.GridviewToolbarItem {
    display: inline-block;
}


    .GridviewToolbarItem:hover {
        color: #127a7b;
        cursor: pointer;
    }

.vl {
    border-left: 1px solid black;
    height: 14px;
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
}

.Search {
    margin-right: 0px;
    margin-left: 10px;
}

    .Search input {
        border-radius: 3px;
        border: none;
        outline: 0;
        padding-left: 3px;
        font-size: 13px;
    }

        .Search input:hover, .Search input:active {
            border: 0.5px solid black;
        }

        .Search input:focus {
            border: 0.5px solid #127a7b;
        }

    .Search button {
        border: none;
        background: none;
    }
.SortbyDropDown {
    border-radius: 3px;
    border: none;
    outline: 0;
    padding-left: 3px;
    font-size: 13px;
    color: #555555;
}
    .SortbyDropDown:hover, .SortbyDropDown:active {
        border: 0.5px solid black;
    }
    .SortbyDropDown:focus {
        border: 0.5px solid #127a7b;
    }
.RefreshFilter {
    margin: 0px;
    padding: 0px;
    height: 14px;
    width: 14px;
}

.gly-spin:focus {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.btnSearch {
    height: 18px;
    font-size: 12px;
    position: absolute;
    top: 1px;
    right: 0;
    border-left: 1px solid !important;
    padding-left: 3px;
    margin-top: 1px;
    border-color: #8b8c8c !important;
    color: #8b8c8c;
    outline: 0;
}

    .btnSearch :hover {
        color: #127a7b;
        cursor: default;
        border-color: #127a7b !important;
    }

.SearchInput {
    height: 18px;
    font-size: 14px;
    padding-right: 27px;
}

.SearchDiv {
    display: inline-block;
    position: relative;
}

.btnRefresh {
    height: 18px;
    font-size: 14px;
    border: none;
    background: none;
}

    .btnRefresh div {
        height: 14px;
        width: 14px;
        display: inline-block;
        font-size: 13px;
    }

    .btnRefresh:hover {
        color: #127a7b;
        cursor: pointer;
    }

.MyTabStyle .ajax__tab_header {
    font-size: 14px;
    display: block;
    margin-left: 5px;
}

.MyTabStyle .ajax__tab_tab {
    height: 30px;
    box-shadow: -1px 0px 4px rgba(0,0,0,.25), 1px 0px 3px rgba(0,0,0,.1);
}

.MyTabStyle .ajax__tab_header .ajax__tab_outer {
    background-color: white;
    color: black !important;
    padding: 2px;
    transform: skewX(-15deg);
    margin-left: 4px;
    height: 0px;
}

    .MyTabStyle .ajax__tab_header .ajax__tab_outer a {
        color: black !important;
        padding: 2px;
        padding-top: 5px;
    }

.MyTabStyle .ajax__tab_header .ajax__tab_inner {
    height: 0px;
}

.MyTabStyle .ajax__tab_hover .ajax__tab_outer {
}

.MyTabStyle .ajax__tab_hover .ajax__tab_inner {
    box-shadow: -1px 0px 4px rgba(0,0,0,.25), 1px 0px 3px rgba(0,0,0,.1);
}

.MyTabStyle .ajax__tab_active .ajax__tab_outer {
}

.MyTabStyle .ajax__tab_active .ajax__tab_inner {
    color: #127a7b !important;
}

    .MyTabStyle .ajax__tab_active .ajax__tab_inner a {
        background-color: #e2f2f2;
        color: #127a7b !important;
        padding: 2px;
        box-shadow: -1px 0px 4px rgba(0,0,0,.25), 1px 0px 3px rgba(0,0,0,.1);
        padding-top: 5px;
    }

.MyTabStyle .ajax__tab_hover .ajax__tab_tab {
    transition: all 0.5s;
}

    .MyTabStyle .ajax__tab_hover .ajax__tab_tab:hover {
        background-color: #CFD8DC;
    }

.MyTabStyle .ajax__tab_body {
    border: 1px solid #127a7b;
    width: 100%;
    margin-top: 12px;
    margin-left: 2px;
    display: inline-block !important;
    padding: 10px;
    height: auto !important;
}

    .MyTabStyle .ajax__tab_body h3 {
        padding-top: unset;
        margin-top: 0px;
    }

.CollumnOf2 {
    display: inline-block;
    width: 50%;
    height: auto;
}

.TherapiesGrid tbody tr td {
    width: auto !important;
    max-width: 200px;
    word-wrap: break-word;
}

.FilesTopBar {
    width: 100%;
    min-height: 50px;
    height: auto;
    background-color: #e2f2f2;
    color: black;
    padding-top: 14px;
    border: 1px solid #e2f2f2;
    border-radius: 3px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.FilesMain {
    border: 1px solid #e2f2f2;
    border-radius: 3px;
    height: auto;
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
}

.FilesTopBarItem {
    display: inline-block;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.filecard {
    position: relative;
    display: inline-block;
    overflow-wrap: break-word;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
    margin: 2px;
    bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100px;
    height: 100px;
}

    .filecard:hover {
        border: 1px solid #127a7b;
        cursor: pointer;
    }

    .filecard:active {
        border: 1px solid #27a9aa;
        background-color: #f1eded;
    }

.filecardimg {
    margin-top: 10px;
    align-content: center;
    width: 100%;
    height: 95%;
}

.filetext {
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #e2f2f2;
    border-bottom: 1px solid white;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 20px;
}

.filecard a {
    color: black;
}
    /* unvisited link */
    .filecard a:link {
        color: inherit;
    }

    /* visited link */
    .filecard a:visited {
        color: inherit;
    }

    /* mouse over link */
    .filecard a:hover {
        color: inherit;
    }

    /* selected link */
    .filecard a:active {
        color: inherit;
    }

.calendar_default_event :hover {
    position: relative !important;
    cursor: pointer;
    z-index: 9999;
}

.calendar_default_event_inner :hover {
}

.calendar_default_main div div table tbody tr td div :not(.calendar_default_cell_business) :hover {
    height: auto !important;
    z-index: 9999;
}

#Dragger {
    left: auto;
    cursor: move;
}
.ChartLine div {
    border:none !important;
}
.UserDataControl a:link {
    color: #127a7b;
    text-decoration: none;
    font-weight: normal;
}

.UserDataControl a:visited {
    color: #127a7b;
    text-decoration: none;
}

.UserDataControl a:hover {
    color: #127a7b;
    text-decoration: none;
    font-weight: bold;
}

.UserDataControl a:active {
    color: #127a7b;
    text-decoration: none;
    font-weight: bold;
}

.UserDataControl a:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114";
}

.UserDataControl a.collapsed:before {
    content: "\e080";
}
.screenFiller {
    pointer-events: none;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
    .screenFiller * {
        pointer-events: all;
    }
.SmallProfilePicture {
    border: 2px solid #127a7b;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    transition:1s;
}
#IMGCover {
    display: none;
    transition: 1s;
}
.ProfileImageCover {
    position: relative;
    height: 100%;
    transition: 1s;
}
    .ProfileImageCover:hover > #IMGCover {
        position: absolute;
        display: block;
        border-radius: 100%;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: 1s;
    }
.Profile {
    display: inline-flex;
    transition: 1s;
}
.Open {
    display: block !important;
    transition: 1s;
}
.Openpanel {
    height: auto !important;
    transition: 1s;
}
.OpenPicture {
    height: 200px;
    width: 200px;
    transition: 1s;
}
.messagerPF {
    display:none;
    border-radius: 3px;
    position: relative;
    border: 1px solid #127a7b;
    height: 100px;
    width: 300px;
    margin: 0 auto;
    z-index: 50;
    background: white;
    cursor:pointer;
}

#ImgDivTopBar {
    border-bottom: 0px solid white;
    margin-top: 0px;
    display:inline;
    
}
#ProfileImg {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 10px;
}